---
name: Build LaTeX document

on:
  push:
    branches: [ main ]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    container: texlive/texlive:latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Install fonts
      run: |
        apt update
        apt install --yes \
          fonts-roboto \
          fonts-adobe-sourcesans3

    - name: Compile LaTeX document
      run: |
        lualatex resume.tex

    - name: Upload PDF as artifact
      uses: actions/upload-artifact@v4
      with:
        name: resume--leonardo-lopes-pereira
        path: resume.pdf
        retention-days: 15
